*{
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: row;
    margin: 0;
}

.navclass{
    flex: 1;
    background: #D7E8D4;

}

.divclass{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.div1class{
    display: flex;
    flex-direction: row;
}
.div2class{
    flex: 4;
}

.div2class > article{
    
    min-height: 60vh;
}

.div1class > aside{
    background: beige;
    flex: 1;
}

header,footer{
    background-color: yellowgreen;
    height: 20vh;
}

header, footer, article, nav, aside {
    padding: 1em;
  }

